<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Endalk's Website</title>
</head>

<body>
<h1> <i> Hello This is Endalk's about page </i> </h1>
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width = '400' height="100" alt="Smith Image">
<p> <a href="hello"> Hello Page </a> </p>

<h2> <u> My goals in my life: </u> </h2>
<ol>
    <li> Graduate college</li>
    <li> Finish one year at PayPal</li>
    <li> Get my masters degree </li> <!--Possibly in Information Systems-->
</ol>

<h2> <u> Some of my favorites: </u> </h2>
    <ul>
        <li>
            Artist:
            <a href="https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
            target="_blank"> Kendrick Lamar
            </a> <!--Kendrick Lamars Spotify page-->
        </li>
        <li>
            Soccer Team:
            <a href="https://www.espn.com/soccer/team/_/id/360/manchester-united">
            Manchester United </a> <!--Manchester Uniteds ESPN page-->
        </li>
        <li> Color: Red </li>
    </ul>

<table>
    <tr>
        <th> Course  </th>
        <th> Semester </th>
    </tr>
    <tr>
        <td> <strong> BMGT402 </strong> </td>
        <td>  <em> &nbsp; Spring 2022 </em> </td>
    </tr>
    <tr>
        <td> <strong> BMGT302 </strong> </td>
        <td>  <em> &nbsp;Fall 2021 </em> </td>
    </tr>
    <tr>
        <td> <strong> BMGT403 </strong> </td>
        <td>  <em> &nbsp; Spring 2022 </em> </td>
    </tr>
</table>

<h1> Background </h1>
<p> I am from Germantown, Maryland. I went to Northwest High School. </p>
<p> I have 2 siblings. I am an iTBT fellow as well as a former BSE scholar. </p>
<p> I am <strong> super </strong> excited for my last semester. </p>

</body>
</html>