<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Service Outstanding Request</title>
</head>
<table>
    <tr>
        <th> Customer ID  </th>
        <th> </th>
    </tr>
    <tr>
        <td> <strong> BMGT402 </strong> </td>
        <td>  <em> &nbsp; Spring 2022 </em> </td>
    </tr>
    <tr>
        <td> <strong> BMGT302 </strong> </td>
        <td>  <em> &nbsp;Fall 2021 </em> </td>
    </tr>
    <tr>
        <td> <strong> BMGT403 </strong> </td>
        <td>  <em> &nbsp; Spring 2022 </em> </td>
    </tr>
</table>

<body>


</body>
</html>